@use '../../global/styles/global' as *;

.actions-modal-container {
  position: absolute;
  top: 40% !important;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .action {
    padding: 10px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover {
      @include subtleGradient();
    }
  }

  .delete {
    color: red;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darken($color: $bg-primary, $amount: 5%);
    color: $text-secondary;
    font-size: 30px;
    border: 1px solid rgb(209, 209, 209);
  }

  .buttons {
    gap: 20px;
    button {
      height: 40px;
    }
  }
}
