@use '../../../../global/styles/include_media' as im;
@use '../../../../global/styles/global' as g;

@include im.media('<=tablet') {
  .managing-intro {
    @include g.flex($direction: column);
    height: auto !important;
    margin-top: 20px;
    margin-bottom: 120px !important;
    padding: 20px 20px 40px 20px !important;

    .image, .content {
      width: 100% !important;
    }

    .content {
      h1 {
        font-size: 35px !important;
      }
    }
  }
}


.budget-card {
  @include im.media('<=450px') {
    .not-in-mobile {
      display: none;
    }
    
    .info {
      background-color: green;
      padding: 5px !important;
      @include g.flex($direction: row, $justify-content: space-between, $align-items: normal !important);
    }
  }
}

.budgets-title {
  @include im.media('<=380px') {
    @include g.flex($direction: column, $justify-content: flex-start, $align-items: normal);

    button {
      margin: 20px 0;
    }
  }
}
